h1 {
    color:red;
}
p {
    background-color: blue;
}
h1,p {
    border: 1px solid black;
}
#big {
    font-weight:bold;
}
.upper {
    text-transform:uppercase;
}
p::first-letter {
    font-size: 2rem;
}
p:hover {
    text-decoration: underline;
    cursor: pointer;
}